* {
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: steelblue;
    color: mistyrose;
    flex-direction:column;
    height: 100vh;
    width: 100vw;
    border: 5px solid mistyrose;
}

.main-splash {
    background-color: steelblue;
}

.welcome, .thanks {
    display: flex;
    padding: 0 5% 5vh 5%;
    font-size: 150%;
    letter-spacing: 3px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.presQuestion, .pizzaQuestion, .txQuestion, .geoQuestion, .secretQuestion {
    display: flex;
    padding: 5%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 100%;
    color: whitesmoke;
    order: 0;
}

.secretQuestion {
    color: gold;
}

#triviaSecret {
        background-color: purple;
        color: gold;
        border: 2px solid gold;
}

#trivia1 {
    background-color: midnightblue;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

#trivia1:hover {
    background-color: whitesmoke;
    color: midnightblue;
    border: 2px solid midnightblue;
}

#trivia2 {
    background-color: firebrick;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

#trivia2:hover {
    background-color: whitesmoke;
    color: firebrick;
    border: 2px solid firebrick;
}

#trivia3 {
    background-color: tomato;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

#trivia3:hover {
    background-color: whitesmoke;
    color: tomato;
    border: 2px solid tomato;
}

#trivia4 {
    background-color: darkgreen;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

#trivia4:hover{
    background-color: whitesmoke;
    color: darkgreen;
    border: 2px solid darkgreen;
}

#triviaSecret:hover {
    background-color: gold;
    color: purple;
    border: 2px solid purple;
}

.instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10vh 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.instructions:hover{
    color: dimgrey;
}

.instructionsText {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    width: 35vw;
    font-weight: normal;
    background-color: khaki;
    color: indigo;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid indigo;
}

.instructionsText:hover {
    background-color: palegoldenrod;
}

.trivia {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.play {
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 50%;
    width: 15vw;
    height: 15vh;
    justify-content: center;
    border-radius: 5px;
    align-items: space-evenly;
}

.presidents, .texas, .pizza, .geography, .secret {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.presidents {
    background-color: firebrick;
}
.texas {
    background-color: midnightblue;
}
.pizza {
    background-color: peru;
}
.geography {
    background-color: midnightblue;
}

.secret {
    background-color: purple;
}

.presAnswer, .pizzaAnswer, .geoAnswer, .txAnswer,.secretAnswer {
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 50%;
    width: 25%;
    height: 10vh;
    justify-content: center;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
} 

.secretAnswer {
    background-color: gold;
    color: purple;
    border: 2px solid purple;
}

.secretAnswer:hover {
        background-color: purple;
        color: gold;
        border: 2px solid gold;    
}

.txAnswer {
    background-color: firebrick;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.txAnswer:hover {
    background-color: whitesmoke;
    color: firebrick;
    border: 2px solid firebrick; 
}

.geoAnswer {
    background-color: darkgreen;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.geoAnswer:hover {
    background-color: whitesmoke;
    color: darkgreen;
    border: 2px solid darkgreen;
}

.presAnswer {
    background-color: midnightblue;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.presAnswer:hover {
    background-color: whitesmoke;
    color: midnightblue;
    border: 2px solid midnightblue;
}

.pizzaAnswer {
    background-color: tomato;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.pizzaAnswer:hover {
    background-color: whitesmoke;
    color: tomato;
    border: 2px solid tomato;
}

.trivia-menu {
    display: flex;
    order: 30;
    background-color: firebrick;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    width: 15vw;
    height: 10vh;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
}

.trivia-menu:hover {
    color: firebrick;
    background-color: whitesmoke;
    border: 2px solid firebrick;
}

.boxes {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.box {
    width: 8vh;
    height: 8vh;
    border: 2px solid whitesmoke;
    display: flex;
    padding: 5px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-size: 50%;
}

.answers {
    display: flex;
    color: mistyrose;
    width: 70vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 0;
}

.img {
    height: 80%;
    width: 80%;
}