body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    font-size: 40px;
    background-color: slategray;
    color: whitesmoke;
    flex-direction:column;
}

.welcome {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.instructions {
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    text-align: center;
}

.instructionsText {
    font-size: 20px;
    text-align: center;
    width: 50vw;
}

.trivia {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.play {
    display: flex;
    background-color: peru;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    width: 15vw;
    height: 10vh;
    justify-content: center;
}

.play:hover {
    background-color: whitesmoke;
    color: peru;
    border: 1px solid peru; 
}